In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
import os
import boto3

In [3]:
s3 = boto3.client("s3")

filename = "weight-height.csv"
s3.download_file("sagemaker-ml-bucket-harini-2022", "training-data/weight-height.csv", filename)
data = pd.read_csv(filename, header=None)

In [4]:
data.head()

        0                 1                 2
0  Gender            Height            Weight
1    Male   73.847017017515  241.893563180437
2    Male  68.7819040458903  162.310472521300
3    Male  74.1101053917849    212.7408555565
4    Male  71.7309784033377  220.042470303077

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10001 non-null  object
 1   1       10001 non-null  object
 2   2       10001 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

In [6]:
data.rename(columns={0:'Gender',
                    1:'Height',
                    2:'Weight'},
                   inplace=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10001 non-null  object
 1   Height  10001 non-null  object
 2   Weight  10001 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

In [8]:
data.drop(0)

       Gender            Height            Weight
1        Male   73.847017017515  241.893563180437
2        Male  68.7819040458903  162.310472521300
3        Male  74.1101053917849    212.7408555565
4        Male  71.7309784033377  220.042470303077
5        Male  69.8817958611153  206.349800623871
...       ...               ...               ...
9996   Female  66.1726521477708  136.777454183235
9997   Female   67.067154649054  170.867905890713
9998   Female  63.8679922137577  128.475318784122
9999   Female  69.0342431307346  163.852461346571
10000  Female  61.9442458795172  113.649102675312

[10000 rows x 3 columns]

In [ ]:
data.plot(kind='scatter',
         x='Height',
         y='Weight',
         title='Weight and Height in adults')

In [ ]:
def line(x, w=0, b=0):
    return x * w + b

x = np.linspace(55, 80, 100)
yhat = line(x, w=0, b=0)

data.plot(kind='scatter',
         x='Height',
         y='Weight',
         title='Weight and Height in adults')
plt.plot(x, yhat, color='red', linewidth=3)

In [ ]:
def mean_squared_error(y_true, y_pred):
    s = (y_true - y_pred)**2
    return s.mean()